*{
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}
body{
    background-image: linear-gradient(
    to right,#a5fecb,#20bdff,#a5fecb,#241377);
    
}
.main{
    height: 100vh;
    display:flex ;
    justify-content: center;
    align-items: center;
}
.box{
    width: 150px;
    height: 2000px;
    overflow: hidden;
    margin: 20px;
    background:black;
    box-shadow: 0 0 20px rgba(0,0,0,0.9);
    cursor: pointer;
    border-radius: 20px;
}
.box div{
    width: 150px;
    height: 200px;
}
.box div img{
    width:100%;
    height: 100%;
    transform-origin: top;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0,0,0,0.9);
    transition: transform .4s;

}
.box:hover div img{
    transform: scale(0.8) translateX(10px) translateY(4px);


}



.box p{
    position: absolute;
    bottom: 0;
    left: 50%;
    font-family: cursive;
    transform: translate(-50%,20px);
    transition: all .4s;

}
.box:hover p{
    transition-delay: .3s;
    transform: translate(-50%,-5px);
}